body, html {
	margin: 0 auto;
	font-size: 16px;
	font-family: 'Oswald', sans-serif;
	background-color:#ebebe0
;
}

header {
	display: block;
	width: 100%;
	font-family: "Comic Sans MS", cursive, sans-serif;
	
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: lightblue;
}
li {
	float: left;
}
li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: white;
}


h1{
	margin: 10px;
	font-size: 29px;
}

h2,h3{
	margin:10px;
	
}

/*main a {
	color: #27318b;
	text-decoration: none;
}
main a:hover {
	color: #8b3727;
	text-decoration: underline;
}*/
p {
	
	padding:10px;
}
hr {
	margin: 1em;
	border: 1px dotted #27318b;
	clear: both;
}
figure {
	padding: 0.5em;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 35%;
	
}

img {
	width: 100%;
}

.footer {
 
   width: 100%;
   background-color: red;
   color: black;
   display: block;
	font-family: "Comic Sans MS", cursive, sans-serif;
   text-align: center;
   background-color: lightblue;
}

.vijesti img {
	width: 30%;
	float: left;
	padding: 0.5em;
	margin: 0 1em 0.5em 0.5em;
}

div.galerijaslika {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  height: 210px;
}

div.galerijaslika:hover {
  border: 1px solid #777;
}

div.galerijaslika img {
  width: 100%;
 height: auto;
 
}

div.galerijaslika {
  padding: 15px;
  text-align: center;

}

#gallery figure {
	padding: 0.5em;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 22%;
	border: 1px solid black;
}

video{ 
	margin:0 auto;
	padding:25px;
}



#gallery figcaption {
	font-size: 90%;
	height: 50px;
	text-align: center;
}

#galerija_vijesti figure {
	padding: 0.5em;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 10%;
	border: 1px solid black;
}
#galerija_vijesti figcaption {
	font-size: 90%;
	text-align: center;
}


input[type=text], input[type=email], select, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
	font-family: 'Oswald', sans-serif;
	font-size: 95%;
}

label {
	display: block;
}
input[type=submit] {
    display: block;
	background-color: lightblue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	width: 25%;
}

@media screen and (max-width: 900px) {
	figure {
		width: 90%;
		margin: 1em;
	}
	
	.vijesti img {
		width: 95%;
		padding: 0.5em;
		margin: 0 1em 0.5em 0.5em;
	}
	
	#galerija_vijesti  figure {
		padding: 0.5em;
		margin: 0 1em 0.5em 1em;
		float: left;
		width: 90%;
		border: 1px solid black;
	}
	#galerija_vijesti  figcaption {
		font-size: 90%;
		text-align: center;
	}
	
	div.galerijaslika {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 150px;
  height: 210px;
}
	
	video{ 
	margin:0 auto;
	width: 80%;
	padding:25px;
}
}